@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --primaryColor : #A574BC;
  --darkColor : #1C1D1F;
  --greyColor : #DEDEDE;
  --gradPurpleWhite : linear-gradient(138.45deg, #FAECFF 8.41%, #FDF7FF 89.84%);
  --gradPurplePink : linear-gradient(247.33deg, #F4D3FF 22.02%, #E8E2EA 91.23%);
  --gradGrey : radial-gradient(39.74% 59.35% at 70.79% 50%, #EAE5ED 0%, #F5F1F8 58.47%, #F0EDF5 100%);
}
*{
  font-family: 'Poppins', sans-serif;
}
body{
  color: var(--darkColor) !important;
}
/* .container{
  max-width: 1280px !important;
} */
h1{
  font-weight: 600 !important;
  font-size: 48px !important;
  line-height: 1.5 !important;
}
h2{
  font-weight: 600 !important;
  font-size: 32px !important;
}
h6{
  font-size: 14px !important;
}
p, span{
  font-size: 14px !important;
}

/* -----------------------BUTTON CSS----------------------- */
.btnPrimary{
  padding: 8px 14px;
  background: var(--primaryColor);
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: .3s ease-in-out;
}
.btnPrimary:hover{
  background: none;
  color: var(--darkColor);
  border: 1px solid;
  border-color: var(--darkColor);
  transition: .3s ease-in-out;
}
.btnSecondary{
  padding: 8px 14px;
  background: none;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryColor);
  transition: .3s ease-in-out;
}
.btnSecondary:hover{
  background: none;
  color: var(--darkColor);
  border: 1px solid;
  border-color: var(--darkColor);
  transition: .3s ease-in-out;
}
.btnSecondary2{
  font-size: 14px;
  padding: 8px 14px;
  background: none;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryColor);
  transition: .3s ease-in-out;
}
.btnSecondary2:hover{
  background: var(--primaryColor);
  color: #fff;
  border: 1px solid;
  border-color: var(--primaryColor);
  transition: .3s ease-in-out;
}
.btnArrow{
  background: none;
  border: none;
  font-size: 28px;
  color: var(--darkColor);
  margin-left: 10px;
  transition: all .3s;
}
.btnArrow.disable{
  color: var(--greyColor);
}
.btnArrow:hover{
  color: var(--primaryColor);
}
.btnArrow.disable:hover{
  color: var(--greyColor);
}

/* -----------------------NAVBAR CSS----------------------- */
.navbar{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.nav-link:hover, .nav-link.active{
  color: var(--primaryColor) !important;
}
.nav-link{
  color: var(--darkColor) !important;
}

/* -----------------------HEADER CSS----------------------- */
.header{
  background: url(/src/assets/header-bg.png), var(--gradPurplePink);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* -----------------------PARTNER CSS----------------------- */
.partner img{
  max-width: 100px;
}

/* -----------------------PROVIDE CSS----------------------- */
.card{
  background: var(--gradPurpleWhite);
  border: none !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}
.card-img-top{
  max-width: 100px;
}

/* -----------------------FEATURE CSS----------------------- */
.feature{
  background: var(--gradGrey);
  border-radius: 12px;
}

/* -----------------------PRODUCT CSS----------------------- */
.price{
  color: var(--primaryColor);
  font-size: 24px;
  font-weight: 600;
}

/* -----------------------BANNER PURCHASE CSS----------------------- */
.bannerPurchase{
  background: url(/src/assets/purchase-section-bg.png), var(--gradPurpleWhite);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 12px;
}

/* -----------------------FOOTER CSS----------------------- */
.footer{
  background: var(--gradPurplePink);
}
.footer .container{
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-justify{
  text-align: justify;
}
.borderTop{
  border-top: 1px solid;
  border-color: var(--darkColor);
}
.footer h6{
  font-size: 18px !important;
}
.footer a{
  text-decoration: none;
  color: var(--darkColor);
}
.footer a:hover{
  color: var(--primaryColor);
}
.footer .btnPrimary{
  border-radius: 8px;
}
.footer input{
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: #fff;
}

/* -----------------------RESPONSIVE-----------------------  */
@media screen and (max-width: 1200px){
  .header img{
    max-width: 580px;
  }
  .bannerPurchase img{
    max-width: 560px;
  }
}

@media screen and (max-width: 992px){
  h1{
    font-weight: 600 !important;
    font-size: 40px !important;
    line-height: 1.2 !important;
  }
  h2{
    font-weight: 600 !important;
    font-size: 28px !important;
  }
  h5{
    font-size: 18px !important;
  }
  h6{
    font-size: 12px !important;
  }
  p, span{
    font-size: 12px !important;
  }
  .btnPrimary, .btnSecondary, .btnSecondary2{
    font-size: 12px;
    padding: 8px 12px;
  }
  .header img{
    max-width: 420px;
  }
  .card-img-top{
    max-width: 80px;
  }
  .imgFeature{
    max-width: 350px;
  }
  .imgFeature2{
    max-width: 280px;
  }
  .iconFeature{
    max-width: 70px;
  }
  .imgProduct{
    max-height: 190px;
  }
  .bannerPurchase img{
    max-width: 400px;
  }
  .footer input{
    font-size: 14px;
  }
}

@media screen and (max-width: 768px){
  h1{
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 1.1 !important;
  }
  h2{
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 1.1 !important;
  }
  h5{
    font-size: 16px !important;
    margin-bottom: 0px !important;
  }
  .header img{
    max-width: 300px;
  }
  .partner img{
    max-width: 60px;
  }
  .card-img-top{
    max-width: 70px;
  }
  .imgFeature{
    max-width: 300px;
  }
  .imgFeature2{
    max-width: 220px;
  }
  .iconFeature{
    display: none;
  }
  .imgProduct{
    max-height: 160px;
  }
  .bannerPurchase img{
    max-width: 300px;
  }
  .footer input{
    font-size: 12px;
  }
}

@media screen and (max-width: 576px){
  .partner img{
    max-width: 40px;
  }
  .iconFeature{
    display: flex;
  }
  .imgFeature2{
    max-width: 300px;
  }
  .price{
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 600;
  }
}